body{
	font-size: 24px;
	font-family: Helvetica;
	background: #FFFDE2;
  }

a {
  color: #969696;
  text-decoration: none;
  font-size: 20px;
  }
    
ul {     
  padding: 10px;
  margin-right: 50px;
  }
  
    li {
      display: inline;
      padding: 0 10px 0 10px;
      }

.list{
    float: right;
    margin: 210px 0 0 100px;
    }

.firstsplashimg{
    position: relative; 
    }

.sesamehero{
  max-width: 100%;
  }

#sogood{
    position: absolute;
    top: 155px;
    left: 660px; 
    width: 100%;
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    }

#stuckteeth{
    position: absolute;
    top: 230px;
    left: 663px; 
    width: 100%;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    }

.picboxes{
  width: 150px;
  height: 150px;
  }

.one{
    position: relative; 
    }

.test{
  width: 33%;
  }
.words{
    position: absolute;
    width: 100%;
    top: 115px;
    left: 180px;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    }