body{
	font-family: Helvetica;
	background-color: #000000;
	color: white;
	font-size: 1em;
	}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1em;
	}

h2 {
	text-transform: uppercase;
	font-size: 1.15em;
	text-align: center;
	padding-top: .75em;
	padding-bottom: 2.85em;
	letter-spacing: .5em;
	}

nav {
	text-transform: uppercase;
	border: .25em solid #719D9E;
    border-width: .15em 0;
    list-style:none;
    margin: 0;
    padding: .75em;
    text-align:center;
	}

li {
    display:inline;
    padding: 5em;
    font-weight: bold;
	}

.cards {
	max-width: 31em;
	display: block;
    margin-left: auto;
    margin-right: auto;
	}

#band {
  	background: #719D9E;
    text-align: center;
	}

#triimagegroup{
  /*display: inline-block;*/
	/*padding-left: 30%;*/
	/*padding-right: 30%;*/
	}

.roundcontainer {
	border-radius: 100%;
	padding: 2em;
  display: inline-block;

	/*float: left;*/
	}

.artbutton {
    border-radius: 100%;
    border: .25em solid white;
    max-width: 7.25em;
	}

/*.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
	}*/


#footbox {
float: right;
padding: 1em 3em 0 0;
	}

#socialicons {
	font-size: 2em;
	}

#phone {
	font-weight: bold;
}

@media only screen and (max-width: 935px){
  nav {
    padding: 15px;
      }
   li {
    padding: 50px;
      }
  img {
    width: 450px;
    padding: 25px;
      }

  h2{
    letter-spacing: .3em;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    display: block;
    text-align: center;
  }


  img {
    width: 230px;
  }
}
