body{
	font-family: Helvetica;
	background-color: #000000;
	color: white;
	font-size: 15px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1em;
}

h2 {
	text-transform: uppercase;
	font-size: 1.15em;
	text-align: center;
	padding-top: .75em;
	padding-bottom: 2.85em;
	letter-spacing: .5em;
}

#main {
	text-transform: uppercase;
	border: .25em solid #719D9E;
  border-width: .15em 0;
  padding: .75em;
  text-align:center;
}

#main li {
    display:inline;
    padding: 5em;
    font-weight: bold;  
}

a{
  text-decoration: none;
}

a {
  color: white;
}

a:visited{
  color: inherit;
}

a:hover { 
  color: #719D9E;
}

.cards {
  width: 30em;
	display: block;
    margin: auto;
    padding-bottom: 2em;
}
#work{
  font-size: 0
}

#band {
  	background: #719D9E;
    text-align: center;
}

.roundcontainer {
	border-radius: 100%;
	padding: 1em .5em;
  display: inline-block;
}

.artbutton {
  border-radius: 100%;
  border: .3em solid white;
  width: 7.25em;
}

#sub {
  display: none;
}   

footer {
  float: right;
  padding: 1em 3em 0 0;
}

#socialicons {
	font-size: 2em;
  font-weight: lighter;
}

#phone {
	font-weight: bold;
}


/*WORK PAGE CSS-----------------------------*/
  #workbox {
    width: 66%;
    padding: .2% 17%;
}

  .trigroup {
    float: left;
    width: 100%;
  }
  .art{
    width:31%;
    padding: .5%
  }

/*MEDIA QUERIES-----------------------------*/

@media only screen and (max-width: 935px) {
  
  #main li {
    padding: 3em;
  }

  .cards {
    width: 450px;
    padding: 1em 0 2em 0;
  }

  h2 {
    font-size: 1em;
  }

  .roundcontainer {
    padding: 1.5em .7em;
  }

  .artbutton {
    width: 9em;
  }

  footer {
    float: none;
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #social {
    font-size: 2em;
    padding-top: 1em; 
  }

  #phone {
    font-size: 0;
  }

  #address{
    font-size: 0;
  }

}


@media only screen and (max-width: 690px) {

    li {
        font-size: .75em;
        padding: 3em;
          }
}

@media only screen and (max-width: 495px) {
  #main {
    display: none;
  }

  h1{
    font-size: 2.5em;
  }

  h2{
    font-size: .6em;
  }


/*HERO IMAGE MEDIA_____________________*/
  
  .cards {
    width: 100%;
  }
  
  #workbutton{
    position: absolute;
    top: 30%;
    text-align: center;
    left: 0;
    width: 100%
    
  }

  #work{
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 8em;
    width: 8em;
    height: 8em;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
  }


  #sub {
    background-color: white;
    display: block;
    text-align: center;
  }

  #sub li {
    display: inline-block;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    background: #719D9E;
    width: 32%


  }

  #band {
    display: none;
  }

  .roundcontainer {
    display: none;
  }

  .artbutton {
    display: none;
  }

  footer {
    padding: 0;
  }
/*MEDIA PHONE WORK PAGE  */ 

  #workbox {
    width: 100%;
    padding: 0;
}

  .trigroup {
    float: none;
  }
  .art{
    width: 90%;
    padding: 5%;
  }
}
