body{
	font-size: 24px;
	font-family: Helvetica;
	background: #FFFDE2;
}
 a {
      color: gray;
    }
    ul {
      font-size: 15px;
      padding: 10px;
      margin-right: 50px;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
#slogan {
	font-style: italic;
}
